# default properties
spring.batch.initialize-schema=always
spring.batch.job.enabled=false
chunk.interval=10
async.thread_pool_size=5
async.thread_pool_max=10
processor.thread_pool_size=5
processor.thread_pool_max=10

# client-specific topics to listen or publish on
irt.publisher_topic=

# nats connection properties
nats.consumer_name=
nats.consumer_password=
nats.url=
nats.filter_subject=
nats.request_wait_time_in_seconds=

# nats tls properties 
nats.tls_channel=
nats.keystore_path=
nats.truststore_path=
nats.key_password=
nats.store_password=

# request tracker connection properties
irt.base_url=
irt.username=
irt.password=
irt.request_list_endpoint=
irt.request_info_endpoint=
irt.refresh_cache_endpoint=

# metadb publishing failures filepath
smile.publishing_failures_filepath=
